<% include partials/header %>
<div class="jumbotron">
  <h1 class="text-center">The BookStore</h1>
  <h3 class="text-center"><a href="/books/new" class="btn btn-primary text-center">Add a New Book</a></h3>
</div>
<div class="container">
<table class="table">
  <th class="">
  <td>Sort By</td>
  <td>Name</td>
  <td>Date Added</td>
  <td>Price</td>
  </th>
</table>
<div class="row">
  <% books.forEach(function(book){  %>
    <div class="col-md-3">
      <a href="books/<%= book._id %>">
        <div class="thumbnail">
          <img src="<%= book.imageurl %>" class="img-responsive" width="100%"alt="">
          <p class="caption-full">
          <h4 class="text-center"><%=book.title %></h4>
            <h5 class="text-center"><%= book.author %></h5>
          </p>
        </div>
      </a>
    </div>
  <% }) %>
</div>

</div>
<% include partials/footer %>
